@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: disc;
}
ol li {
  list-style: decimal;
}
#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #eee;
  height: 100vh;
}
/* 覆盖prism-theme主题冲突边距 */
div pre[class*='language-'] {
  margin: 0;
  padding: 0;
}
.c-shadow {
  box-shadow: 2px 0px 12px 0px rgb(4 4 4 / 10%);
}
.hidden-block {
  display: none;
}
/* toggle-block */
.side-hidden {
  height: 30px;
}
.side-hidden svg {
  transform: rotate(-90deg);
}
.changeMargin {
  margin-top: 300px;
}
